* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html,
body {
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
}

.header {
	color: black;
	font-size: 1.5rem;
	font-weight: 500;
	height: 100%;
	width: 300px;
	background-color: #ababab;
}

.general,
.users {
	padding: 0.5rem;
}

.general-header,
.users-header {
	text-transform: uppercase;
	text-align: center;
	line-height: 125%;
}

.general-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 7px;
}

.users-buttons {
	width: 100%;
	padding-bottom: 10px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.general-buttons button,
.users-buttons button {
	padding: 4px 8px;
	font-size: 1.15rem;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}

.header-line {
	height: 2px;
	width: 100%;
	background-color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}
